
body{
    background:#f5f5f5;
}

.hero{
    background:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('images/shop1.jpg');
    background-size:cover;
    background-position:center;
    padding:120px 20px;
    color:white;
    text-align:center;
}

.product-card img{
    height:250px;
    object-fit:cover;
}

.product-card{
    transition:0.3s;
}

.product-card:hover{
    transform:translateY(-5px);
}

.dashboard-card{
    border-radius:15px;
}

.footer{
    margin-top:100px;
}
